
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            @Html.Partial("_PartialKategoriler")
        </div>

        <div class="col-md-9">
                     
            <!--Notlar görüntüleniyor-->
            <div class="row">

                <h2 class="text-center">Consectetur adipiscing elit fusce vel.</h2>
                <hr />
                <img class="center-block" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="">
                <p> Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.</p>
                <p> Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.</p>
                <p> Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.</p>
            </div>

        </div>

    </div>

</div>
<!-- /.container -->
